[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

google-api-python-client = "*"
pycrypto = "*"
earthengine-api = "*"
"oauth2client" = "*"


[dev-packages]



[requires]

python_version = "3.6"
